.container-fluid{
  margin-bottom: 15px;
}
#editor{
  height: 10rem;
  border-color: grey;
}
#button1{
  margin-top: 1rem;
  background-color:  #451771;
  color: white;
}
#button2{
  margin-top: 2rem;
}
